<!DOCTYPE html>
<html lang="en">
<head>
    <style>
body {
    background-color: #ffebe6;
}
</style>
    <meta charset="UTF-8">
    <title>Admin view</title>
</head>
<body>
<h1>Admin</h1>
<h2>Add user</h2>
<form action="/user_manager/add_user">
    Name:
    <input type="text" id="uname" name="name" value={{ username }} required>
    <br>
    Time zone:
    <select name="time_zone" id="time_zone" required>
        {{ TIME_ZONE_OPTIONS|safe }}
    </select>
    <br><br>
    <input type="submit" value="Add user">
</form>
</br>
<a href="/user_manager/user_list">User list</a>
</br></br>
<a href="/">Back to index</a>
</body>
</html>