<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: #ccffcc;
        }
    </style>
    <meta charset="UTF-8">
    <title>User view</title>
</head>
<body onload="setInitialDateandTime(); addCalendarNameParamValue();">
<script src={{ url_for('static', filename = 'js/EventCreatorFieldDisableSwitch.js') }}></script>
<script src={{ url_for('static', filename = 'js/lib/jscolor.min.js') }}></script>
<script src={{ url_for('static', filename = 'js/lib/jquery-3.1.1.min.js') }}></script>
<script src={{ url_for('static', filename = 'js/lib/jquery-ui.min.js') }}></script>
<link rel="stylesheet" href={{ url_for('static', filename = 'css/lib/jquery-ui.min.css') }}/>
<script>
    $(function () {
        $("#day,#sdate,#edate ").datepicker({dateFormat: 'yy-mm-dd'});
        $("#format").change(function () {
            $("#day,#sdate,#edate").datepicker({dateFormat: 'yy-mm-dd'});
        });
    });
</script>

<script>
    function setInitialDateandTime() {
        var date = new Date();

        document.getElementById('sdate').valueAsDate = date;
        document.getElementById('edate').valueAsDate = date;
        document.getElementById("stime").value = "08:00";
        document.getElementById("etime").value = "20:00";

        document.getElementById('day').valueAsDate = date;
        document.getElementById('week').valueAsDate = date;
        document.getElementById('month').valueAsDate = date;
        document.getElementById('year').value = date.getFullYear();
    }

    function addCalendarNameParamValue() {
        var calendar_name = document.getElementById("cal").value;
        document.getElementById("cal1").value = calendar_name;
        document.getElementById("cal2").value = calendar_name;
        document.getElementById("cal3").value = calendar_name;
        document.getElementById("cal4").value = calendar_name;
    }


    /**
     * @return {boolean}
     */
    function ValidateCalendarFormView() {
        if (document.getElementById("cal").value == "") {
            alert('You must choose your own or shared calendar.');
            return false;
        }
    }
</script>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<h1 id="username">{{ USERNAME }}</h1>
<h2>Calendar creator</h2>
<form action="/calendar_manager/add_calendar">
    <input type="text" id="owner" name="owner" value="{{ USERNAME }}" readonly="readonly" hidden>
    Name:
    <input type="text" size="40" id="name" name="name" value="Calendar name" required>
    <br>
    Color (HEX value):
    <input class="jscolor" value="ab2567" name="color">
    <br><br>
    <input type="submit" value="Add calendar">
</form>

</br>
<a id="clist" href="/calendar_manager/calendar_list?user={{ USERNAME }}">Calendar list</a>
<h2>Event creator</h2>
<form action="/event_manager/add_event">
    <input type="text" id="event_owner" name="event_owner" value={{ USERNAME }} hidden>
    Event type:
    <select name="event_type" id="type" onchange="EventCreatorFieldDisableSwitch()">
        <option selected value="normal">Normal</option>
        <option value="all_day">All day</option>
    </select>
    </br>
    Title:
    <input type="text" size="40" id="title" name="title" value="Event title" required>
    <br>
    Description:
    <input type="text" size="60" id="desc" name="description" value="Event description">
    <br>
    Calendar:
    <select name="calendar" required>
        {{ OWNER_CALENDAR_OPTIONS|safe }}
    </select>
    </br>
    Start date:
    <input type="date" name="start_date" id="sdate" required>
    </br>
    Start time (in case of normal event):
    <input type="time" name="start_time" id="stime" required>
    </br>
    End date:
    <input type="date" name="end_date" id="edate" required>
    </br>
    End time (in case of normal event):
    <input type="time" name="end_time" id="etime" required>
    </br>
    Time zone (in case of normal event):
    <select name="time_zone" id="time_zone">
        {{ TIME_ZONE_OPTIONS|safe }}
    </select>
    </br>
    Choose guests:
    <select multiple="multiple" name="guests" id="guests">
        {{ OTHER_USER_OPTIONS|safe }}
    </select>
    </br></br>
    <input type="submit" value="Add event">
</form>
</br>
<a id="elist" href="/event_manager/event_list?user={{ USERNAME }}">Event list</a>
<h2>Calendar view</h2>
Choose calendar:
<select name="cal" id="cal" required>
    {{ CALENDAR_OPTIONS|safe }}
</select>
<form action="/calendar_view" onsubmit="return ValidateCalendarFormView();">
    Select a day:
    <input type="hidden" name="type" value="day">
    <input type="hidden" id="usr1" name="user" value={{ USERNAME }}>
    <input type="hidden" id="cal1" name="calendar_name" value="">
    <input type="date" name="day" id="day" value="" readonly>
    <input onclick="addCalendarNameParamValue();" type="submit" value="Show view">
</form>
<form action="/calendar_view" onsubmit="return ValidateCalendarFormView();">
    Select a week:
    <input type="hidden" name="type" value="week">
    <input type="hidden" id="usr2" name="user" value={{ USERNAME }}>
    <input type="hidden" id="cal2" name="calendar_name" value="">
    <input type="week" name="year_week" id="week" value="">
    <input onclick="addCalendarNameParamValue();" type="submit" value="Show view">
</form>
<form action="/calendar_view" onsubmit="return ValidateCalendarFormView();">
    Select a month:
    <input type="hidden" name="type" value="month">
    <input type="hidden" id="usr3" name="user" value={{ USERNAME }}>
    <input type="hidden" id="cal3" name="calendar_name" value="">
    <input type="month" name="month" id="month" value="">
    <input onclick="addCalendarNameParamValue();" type="submit" value="Show view">
</form>
<form action="/calendar_view" onsubmit="return ValidateCalendarFormView();">
    Select a year:
    <select name="year" id="year" required>
        {{ YEAR_OPTIONS|safe }}
    </select>
    <input type="hidden" name="type" value="year">
    <input type="hidden" id="usr4" name="user" value={{ USERNAME }}>
    <input type="hidden" id="cal4" name="calendar_name" value="">
    <input onclick="addCalendarNameParamValue();" type="submit" value="Show view">
</form>
<h2>Calendar sharing</h2>
<form action="/calendar_manager/share">
    <input type="hidden" id="username1" name="user" value={{ USERNAME }}>
    Choose calendar(s):
    <select multiple name="calendars" id="calendars" required>
        {{ OWNER_CALENDAR_OPTIONS|safe }}
    </select>
    Choose user(s):
    <select multiple name="users" id="usrs" required>
        {{ OTHER_USER_OPTIONS|safe }}
    </select>
    Choose access:
    <select name="access" id="access">
        <option value="read">read</option>
        <option value="write">write</option>
    </select>
    <input type="submit" value="Share calendar(s)">
</form>
<h2>Event invitations</h2>
<form action="/event_manager/rsvp">
    <input type="hidden" id="username2" name="user" value={{ USERNAME }}>
    Choose events:
    <select multiple name="events" id="events" required>
        {{ EVENTS_RSVP_OPTIONS|safe }}
    </select>
    Choose RSVP:
    <select name="rsvp" id="rsvp" required>
        <option value="maybe">maybe</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>
    <input type="submit" value="Send RSVP(s)">
</form>
</br>
<a href="/">Back to index</a>
</body>
</html>