<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: #e6ffff;
        }
    </style>
    <script src={{ url_for('static', filename = 'js/EventCreatorFieldDisableSwitch.js') }}></script>

    <meta charset="UTF-8">
    <title>Event editor</title>
</head>
<body onload="EventCreatorFieldDisableSwitch();">
<h1>Event editor</h1>
<h2> {{ ACCESS }}</h2>
<form action="/event_manager/write">
    <input type="text" id="access" name="access" value="{{ ACCESS }}" hidden>
    <input type="text" id="user" name="user" value="{{ USERNAME }}" hidden>
    <input type="text" id="owner" name="owner" value="{{ owner_value }}" hidden>
    <input type="text" id="previous_name" name="previous_name" value="{{ previous_event_name }}" hidden>
    Event type:
    <select name="event_type" id="type" onchange="EventCreatorFieldDisableSwitch();">
        {{ event_type_options|safe }}
    </select>
    </br>
    Title:
    <input type="text" size="30" id="title" name="title" value="{{ Event_title }}" required>
    <br>
    Description:
    <input type="text" size="60" id="desc" name="description" value="{{ Event_description }}">
    </br>
    Calendar:
    <select name="calendar" id="cal5" required>
        {{ OWNER_CALENDAR|safe }}
    </select>
    </br>
    Start date:
    <input type="date" name="start_date" id="sdate" value="{{ START_DATE }}" required>
    </br>
    Start time (in case of normal event):
    <input type="time" name="start_time" id="stime" value="{{ START_TIME }}" required>
    </br>
    End date:
    <input type="date" name="end_date" id="edate" value="{{ END_DATE }}" required>
    </br>
    End time (in case of normal event):
    <input type="time" name="end_time" id="etime" value="{{ END_TIME }}" required>
    </br>
    Time zone (in case of normal event):
    <select {{ DISABLED_SELECT }} name="time_zone" id="time_zone">
        {{ TIME_ZONE_OPTIONS|safe }}
    </select>
    </br>
    Choose guests:
    <select {{ DISABLED_SELECT }} multiple="multiple" name="guests" id="guests">
        {{ CHOOSE_GUESTS_OPTIONS|safe }}
    </select>
    <br><br>
    <input type="submit" value="Write event">
</form>
</br>
<a href="{{ BACK_TO_CALENDAR_URL }}">Back</a>
</body>
</html>