<!DOCTYPE html>
<html lang="en">
<head>
    <style>
body {
    background-color: #FFA500;
}
select option:first-child { color:red; }
</style>
    <meta charset="UTF-8">
    <title>Calendar</title>
</head>
<body>

<h1>Calendar</h1>
<form action="/user/view">
    Choose user:
    <select name="user" id="usr" required>
        <option>Admin</option>
        {{ CHOOSE_USER_OPTIONS|safe }}
    </select>
    <input type="submit" value="Show user view">
</form>
</br>
<img src={{ url_for('static', filename = 'img/twenty-seventeen-1751096_640.png') }} >
</body>
</html>