<h1>Calendar list</h1>
<h2>Name | Color | Owner | Share</h2>

<h3>Owner calendars: </h3>

{{ owner_calendars_list_view|safe }}


<h3>Shared calendars: </h3>

{{ shared_calendars_list_view|safe }}

<br>

{{ calendars_count }}
<br>
{{ back_url|safe }}


<style>body {
    background-color: #ffff99;
}</style>