<h1>Event list</h1>
<h2>Type | Title | Description | Calendar | Start date | End date | Owner | Owner RSVP | Guests | Start time | End time
    | Time zone </h2>

<h3>Owner events: </h3>

{{ owner_events_list_view|safe }}


<h3>Guest events: </h3>

{{ guest_events_list_view|safe }}

<br>

{{ event_count }}
<br>
{{ back_url|safe }}


<style>body {
    background-color: #e6ffff;
}</style>