<h1>User list</h1>
<h2>Name | Time zone | Guest event edit data</h2>
{{ user_list_view|safe }}
User count: {{ user_count }}
</br>
<a href='/user/view?user=Admin'>Back to Admin view</a>
<style>body {background-color: #e6ffcc;}</style>